.max-w-sm {
    max-width: 500px;
  }
  .result {
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
  }
  .zodiac-image {
    width: 100px;
    height: 100px;
  }
  .mt-10 {
    margin-top: 40px;
  }
  .mt-5 {
    margin-top: 20px;
  }
  